<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAauaKms09ZasmVhz-JFiTnuiWUhToFSq8</string>
	<key>GCM_SENDER_ID</key>
	<string>780691578246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceSystemNodejs</string>
	<key>PROJECT_ID</key>
	<string>attendance-system-405712</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-system-405712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780691578246:ios:524641b3b2af869d58e007</string>
</dict>
</plist>